<main>
  <h1>
  welcome to
    <strong>
      <i class="fas fa-book">Bookers!!</i>
    </strong>
</h1>

<p>you can share and exchange your opinions , inpressions , and emotions</p>

<P>about various books!</P>

<%= link_to "Log in", new_user_session_path %>

<%= link_to "Sign up", new_user_registration_path %>


</main>

<footer>
  <p>CopyRight Infratop.inc</p>
</footer>